
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

.dashboard{
background: linear-gradient(to bottom, rgba(4, 0, 30, 0.886),rgba(0, 0, 1, 0.9)),
                   url(bg.img.jpeg) no-repeat center center/cover;
display: flex;
 
grid-template-columns: 2.5fr 1fr;
grid-template-rows: auto auto auto;

gap: 20px;
padding: 20px;

min-height: 100vh;
}

/* Sidebar */

.sidebar{
position: fixed;

top: 10px;
left: 30px;
bottom: 20px;

width:40px;

background: none;
border-radius: 15px;

display: flex;
flex-direction: column;
align-items: center;

padding-top:20px;
gap: 25px;
}

.sidebar ul{
list-style:none;
margin-top:20px;
}

.sidebar li{
padding:10px;
cursor:pointer;
}

.sidebar li:hover{
background:#333;
}

/* Main */

.main{
margin-left: 30px;
flex:1;
padding: 5px;
background:linear-gradient(to bottom, rgba(4, 0, 30, 0.886),rgba(0, 0, 1, 0.9)),
            url(background.img.jpeg) no-repeat center center/cover;
}

/* Topbar */

.topbar{
margin-right: 10px;
margin-left: 30px;
border-radius: 10px;
display:flex;
justify-content:space-between;
align-items:center;
background: none;
color: #ede9e9;
padding: 15px;
position:relative;
}

/* overview */

.container {
    display: grid;

grid-template-columns: 3fr 1fr;
grid-template-rows: auto auto auto;

gap: 1em;
padding: 20px;

border: gold;
margin: 35px 10px 30px 30px;
border-radius: 0px;
color: #fff8f8;
}

/* Cards */

.card {
    margin: 20px;
    background: none;
    border: #d4af37 solid 1px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.graph-container {
    width: 100%;
    height: 200px;
    background: black ;
    border: beige 1px solid;
    border-radius: 12px;
    padding: 10px;
}

.sales {
grid-row:1 / span 3;
}

.expenses {
grid-row:1 / span 3;
}

.profit-loss {
grid-row:1 / span 1;
}

.calendar {
grid-row:1 / span 4;
}

.sales-target {
    grid-row: 4 / span 2;
}



.in {
height: fit-content;
margin: 5px;
color: #f9f6f6;
grid-row:1 /span 2;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* DROPDOWN */

select{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* SMALL CARDS */

.completed,
.pending {
    border: #d4af37 solid 1px;
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.growth {
 border: #d4af37 solid 1px;
    display: grid;
    flex-direction: column;
    justify-content: center;
    height: 250px;
}    

.btn-cont {
    display: inline-block;
    margin: 23px 0 0 0;
    height: 10px;
    text-align: center;
    padding: 15px;
    background: none;
    color: white;
    text-decoration: none;
    border-radius: 12px;
    border: 1px solid #d4af37;;
    font-weight: 600;
    transition: 0.3s;
}

/* Popup Menu */

.popup-menu{
position:absolute;
top:60px;
right:20px;
background:rgba(0,0,0,0.6);  /* 100% transparent */
color:white;
padding:15px;
border-radius:6px;
display:none;
}

.popup-menu p{
padding:8px 0;
cursor:pointer;
}

.popup-menu p:hover{
text-decoration:underline;
}

.show{
display:block;
}

.transactions{
    background: none;
    border: #d4af37 solid 1px;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    height: fit-content;
    width: fit-content;
}

.content{
text-align: center;
color: #f7f5f5;
}

.txt{
color: #f9f6f6;
}

.graph-container {
    width: 100%;
    height: 200px;
    background: none;
    border: none;
    border-radius: 12px;
    padding: 10px;
}

