.bss-page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
}

.bss-tools-page-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 1em;
}

.bss-tools-cont {
  padding: clamp(0.6rem, 2vw, 1.5rem);
  gap: 1rem;
}

.bss-tool-btn-cont {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.bss-tool-btn-cont div  {
  background-color: var(--bg);
  gap: 1rem;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: clamp( 0.2rem, 2vw, 0.8rem);
  word-break: break-all;
}

.settings-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: clamp(1rem, 3vw, 2rem);
  padding: 1em;
  background-color: rgba(1, 1, 104, 0.1);
  border-radius: 8px;
  margin-bottom: 1em;
}